<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{user.username}} Dashboard</title>

    <style>
     .navbar a:hover {
         color: blue;
     }

        .ivstbutton{
            position: relative;
            left: 63px;
        }

           .increase {
            color: green;
            font-weight: bold;
               text-decoration: underline;
        }

        .decrease{
            color: red;
            font-weight: bold;
            text-decoration: underline;

        }

        .name {
            color: saddlebrown;
        }

        .number {
            color: mediumpurple;
            text-decoration: underline;
        }

        .card-text{
            font-weight: bold;
        }

        .card-header {
            font-size: larger;
        }

    </style>
 <script>
     window.smoothScroll = function(target) {
    var scrollContainer = target;
    do { //find scroll container
        scrollContainer = scrollContainer.parentNode;
        if (!scrollContainer) return;
        scrollContainer.scrollTop += 1;
    } while (scrollContainer.scrollTop == 0);

    var targetY = 0;
    do { //find the top of target relatively to the container
        if (target == scrollContainer) break;
        targetY += target.offsetTop;
    } while (target = target.offsetParent);

    scroll = function(c, a, b, i) {
        i++; if (i > 30) return;
        c.scrollTop = a + (b - a) / 30 * i;
        setTimeout(function(){ scroll(c, a, b, i); }, 20);
    }
    // start scrolling
    scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
}


    </script>

</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{url_for('homePage')}}">PoliTrader</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('userHome')}}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('market') }}">MarketPlace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register')}}">LogOut</a>
                </li>
            </ul>
        </div>
    </nav>


</div>
<br><br>
<div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
<div class="container">
    <br>
    <h3 class="text-center">welcome, <span class="name">{{user.username}}!</span></h3>
    <br>

    <div class="row">
    <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card h-100" style="height: 200px">
        <div class="card-header text-center">Your Account</div>
      <div class="card-body">
          <p class="card-text text-center">Amount Invested: <span class="number">${{user.invested}}</span> </p>
          <br>

          <p class="card-text text-center">Portfolio Value: <span class="number">${{user.portfolioValue}}</span> </p>
          <br>
          {% if user.profit > 0 %}


          <p class="card-text text-center">Profit/Loss:<span class="increase"> ${{user.profit}} </span></p>
           {% else %}
                    <p class="card-text text-center">Profit/Loss:<span class="decrease"> ${{user.profit}} </span></p>

          {% endif %}

            <br>

          {% if user.profitPercent > 0 %}

          <p class="card-text text-center">Profit Percent: <span class="increase">{{user.profitPercent}}% </span></p>

          {% else %}
                    <p class="card-text text-center">Profit Percent: <span class="decrease">{{user.profitPercent}}% </span></p>

          {% endif %}
          <br>
          <p class="card-text text-center">Balance: <span class="number">${{user.balance}} </span></p>

    </div>

</div>

    </div>


</div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <br><br>
          <button type="button" onclick="smoothScroll(document.getElementById('invest'))" class="btn btn-outline-dark btn-lg ivstbutton">View Your Investments</button>

        </div>
        <div class="col-sm-4">
        </div>
    </div>

   <br><br><br><br><br><br><br><br><br>
    <div id="invest">
        <h3 class="text-center">Your Investments</h3>
        <br>
<table class="table table-hover">
  <thead class="thead">
    <tr>
      <th scope="col">Ticker</th>
      <th scope="col">Name</th>
      <th scope="col">Purchased Price</th>
      <th scope="col">Current Price</th>
              <th scope="col">Change %</th>

    </tr>
  </thead>
  <tbody>

{% for stocks in investments %}
  <tr>
    <th scope="row">{{stocks.ticker}}</th>
      <td><a href="{{url_for('stockPage', name=stocks.name)}}">{{stocks.name}}</a></td>
    <td>${{stocks.currentPrice}}</td>

    <td>${{currentPrices[stocks.name]}}</td>

      {% if changes[stocks.name] > 0 %}
          <td class="increase">{{changes[stocks.name]}}%</td>

      {% else %}
                <td class="decrease">{{changes[stocks.name]}}%</td>

      {% endif %}

       <td><form method="post">
            <input type="hidden" name="stockname" value="{{stocks.name}}">
           <input type="hidden" name="purchasedPrice" value="{{stocks.currentPrice}}">

           <button type="submit" class="btn btn-dark">Sell</button>
        </form>
        </td>
  </tr>


{% endfor %}

</table>
    </div>


</div>
<br>


</div>


</body>
</html>